<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Thomas Hart - Software Engineer, Hackathon Enthusiast, Community Evangelist</title>

    <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="google-site-verification" content="xqedXaATEQQKN2OFm1YI5s2OD3rxFeSkCxjh8vH_fMw" />

    <script type="text/javascript">
        var host = "thomashart.me";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
            window.location.protocol = "https";
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Thomas Hart</h1>
        <ul>
            <li><a href="https://thomashart.me/files/resume-thomas-hart.pdf" target="_blank">Résumé</a></li>
            <li><a href="https://github.com/myrridin" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/thomashartii" target="_blank">LinkedIn</a></li>
            <li><a href="https://twitter.com/myrridin" target="_blank">Twitter</a></li>
            <li><a href="https://www.codewars.com/users/myrridin" target="_blank">CodeWars</a></li>
            <li><a href="https://www.hackerrank.com/myrridin" target="_blank">HackerRank</a></li>
        </ul>
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

{% if site.google_analytics %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>